/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS REGOLE GENERALI */
body {
    background-image: url(./img/cork.png);
    background-size: contain;
}

h1 {
    font-family:"Edu TAS Beginner", cursive;
    font-size: 4rem;
    text-align: center;
    padding-top: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
}


/* HEADER */
header {
    background-image: url(./img/wall.png);
    height: 110px;
}

/* MAIN */

.cards-container {
    /* DEBUG 
    background-color: aquamarine;*/
    min-height: 100px;
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.card {
    background-color: rgb(255, 255, 255);
    width: 30%;
    position: relative;
    padding: 15px;
    box-shadow: 3px 3px 2px #A0672F;
}

.pin {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
}

.img-date {
    font-family:"Sometype Mono", monospace;
    color: rgb(102, 102, 102);
}

.img-title {
    font-family:"Edu TAS Beginner", cursive;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: block;
}

/* OVERLAY */
#overlay {
  display: none; 
  width: 100%; 
  height: 100%;
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; 
  background-color: rgba(0,0,0,0.8); 
}

.container-img {
    width: 600px;
    height: 600px;
    margin: 20px auto;
}

.big-image {
    max-width: 100%;
}

.image {
    max-width: 100%;
    padding-bottom: 10px;
    
}





/* PARTE HOVER */
.card:hover .pin {
    display: none;
}

/* MEDIA QUERY SCHERMO TABLET */
@media screen and (max-width: 789px) { 
    .card {
        width: 35%;
    }

    .cards-container {
        width: 100%;
    }
}

/* MEDIA QUERY SCHERMO MOBILE */
@media screen and (max-width: 506px) { 
  .card {
        width: 50%;
    }
}